body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.all {
  width: 800px;
  border-radius: 3px;
}

.hussar {
  width: 400px;
  border-radius: 3px;
}

.kupala {
  width: 265px;
  border-radius: 3px;
}

.black-white {
  width: 800px;
  border-radius: 3px;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 18px;
  margin: 0;
}

@media only screen and (max-width: 850px) {
  body {
    margin: 10px;
  }

  .all {
    width: 740px;
    border-radius: 3px;
  }

  .hussar {
    width: 370px;
    border-radius: 3px;
  }

  .kupala {
    width: 240px;
    border-radius: 3px;
  }

  .black-white {
    width: 740px;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 765px) {
  body {
    margin: 10px;
  }

  .all {
    width: 400px;
    border-radius: 3px;
  }

  .hussar {
    width: 200px;
    border-radius: 3px;
  }

  .kupala {
    width: 130px;
    border-radius: 3px;
  }

  .black-white {
    width: 400px;
    border-radius: 3px;
  }

  p {
    font-size: 13px;
  }

  h1 {
    font-size: 15px;
    margin: 0;
  }
}

@media only screen and (max-width: 420px) {
  body {
    margin: 10px;
  }

  .all {
    width: 350px;
    border-radius: 3px;
  }

  .hussars {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .hussar {
    width: 350px;
    border-radius: 3px;
  }

  .ivana {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .kupala {
    width: 350px;
    border-radius: 3px;
  }

  .black-white {
    width: 350px;
    border-radius: 3px;
    margin: auto;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 14px;
    margin: 0;
  }
}

@media only screen and (max-width: 370px) {
  body {
    margin: 10px;
  }

  .all {
    width: 300px;
    border-radius: 3px;
  }

  .hussars {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .hussar {
    width: 300px;
    border-radius: 3px;
  }

  .ivana {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .kupala {
    width: 300px;
    border-radius: 3px;
  }

  .black-white {
    width: 300px;
    border-radius: 3px;
    margin: auto;
  }

  p {
    font-size: 11px;
  }

  h1 {
    font-size: 12px;
    margin: 0;
  }
}
